body {
    background-color: #121212; /* fundo cinza escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculadora {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 25px #7b2cbf99;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: right;
    padding: 5px;
    border: none;
    border-radius: 8px;
    background-color: #2d2540;
    color: #fff;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #5a189a;
    color: white;
    transition: 0.2s;
}

button:hover {
    background-color: #7b2cbf;
}

.igual {
    background-color: #c77dff;
    color: #2d2540;
}

.igual:hover {
    background-color: #e0aaff;
}

.zero {
    grid-column: span 2;
}